<h1 style="text-align:center; font-size: 5em;">Lab: Pandas Basics</h1>

<hr style="border:2px solid">
<h1 style="text-align:center; font-size: 3em;">Workbook Overview</h1>
<hr style="border-top:1px dashed">
<ul>
        <li><a href="#anchorSetup">Lab Setup and Explanation</a></li> 
        <li><a href="#anchorDataset">Importing and Understanding The Data</a></li> 
        <li><a href="#anchorKey">Key Stats and Data Points</a></li> 
        <li><a href="#anchorSneakPeak">Sneak Peak</a></li> 
</ul>

<a name="anchorSetup" style="position:absolute;"></a>
<hr style="border:2px solid">

## Lab Setup and Explanation
<hr style="border-top:1px dashed">
Welcome to the Pandas Lab!! Now that we've learned about Pandas let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions. 

There will be several sections that you can navigate to using the links in the Workbook Overview above this box. In each section, you will have several tasks to complete. Tasks are easily identifiable by their yellow boxes.

<div class="alert alert-block alert-warning">
    <b>Task 0: Import Pandas</b>
</div>

In [1]:
import pandas as pd

You are welcome to make as many extra code cells as you would like, just remember to clean up your notebook before submitting your work. 

The easier your work is to check, the more we can focus on giving feedback instead of hunting down answers.

With that being said, we hope you have fun with this lab!~

<a name="anchorndArray" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 1: Importing and Understanding The Data
<hr style="border-top:1px dashed">

Before we jump into calculating statistics, let's get a feel for the data first. We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

<div class="alert alert-block alert-warning">
    <b>Task 1: Store the data from the file <code>Salaries.csv</code> as a dataframe called <code>sal</code>.</b>
</div>

In [3]:
sal = pd.read_csv('Salaries.csv')

<div class="alert alert-block alert-warning">
    <b>Task 2:</b> Display the dataframe first 5 rows using <code>.head()</code>
</div>

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<div class="alert alert-block alert-warning">
    <b>Task 3:</b> How many entries in total there are?
</div>

In [6]:
sal.info()
# There are 148,654 entries in the dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<a name="anchorndKey" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 2: Key Stats and Data Points
<hr style="border-top:1px dashed">

<div class="alert alert-block alert-warning">
    <b>Task 4:</b> What is the average BasePay?
</div>

In [8]:
sal['BasePay'].mean()

66325.4488404877

<div class="alert alert-block alert-warning">
    <b>Task 5:</b> What is the highest amount of OvertimePay in the dataset?
</div>

In [9]:
sal['OvertimePay'].max()

245131.88

<div class="alert alert-block alert-warning">
    <b>Task 6:</b> What is the job title of <code>JOSEPH DRISCOLL</code>?<br>
    Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).
</div>

In [45]:
sal_JD = sal[sal['EmployeeName']=='JOSEPH DRISCOLL']
sal_JD[['EmployeeName','JobTitle']]

       EmployeeName                   JobTitle
24  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

<div class="alert alert-block alert-warning">
    <b>Task 7:</b> How much does JOSEPH DRISCOLL make (including benefits)?
</div>

In [68]:
sal_JD[['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
24  JOSEPH DRISCOLL         270324.91

<div class="alert alert-block alert-warning">
    <b>Task 8:</b> What is the name of highest paid person (including benefits)?
</div>

In [69]:
sal_HP = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]
sal_HP[['EmployeeName','TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

<div class="alert alert-block alert-warning">
    <b>Task 9:</b> What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?
</div>

In [77]:
sal_LP = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]
sal_LP[['EmployeeName','TotalPayBenefits']]
# Joe has a negative total pay with benefits.

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

<div class="alert alert-block alert-warning">
    <b>Task 10:</b> What was the average (mean) BasePay of all employees for each year?
</div>

In [101]:
# Can either be solved manually, using a loop, or a groupby
sal_Y = sal.groupby('Year')
sal_Y['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

<div class="alert alert-block alert-warning">
    <b>Task 11:</b> How many unique job titles are there?
</div>

In [102]:
sal['JobTitle'].nunique()

2159

<div class="alert alert-block alert-warning">
    <b>Task 12:</b> What are the top 5 most common jobs?
</div>

In [107]:
sal['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

<div class="alert alert-block alert-warning">
    <b>Task 13:</b> How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
</div>

In [115]:
sum(sal[sal['Year']==2013]
    ['JobTitle'].value_counts()==1)

202

<a name="anchorSneakPeak" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 3: Sneak Peak -- Optional (Not Graded)
<hr style="border-top:1px dashed">
This section is for those who finished early. This section is a sneak peak for what is to come in the future. 

These are a bit tricky, don't worry about not getting these.

<div class="alert alert-block alert-warning">
    <b>Extra Task 14:</b> Is there a correlation between length of the Job Title string and Salary?
</div>

AttributeError: 'int' object has no attribute 'corr'

<div class="alert alert-block alert-warning">
    <b>Extra Task 15:</b> How many people have the word Chief in their job title? (This is pretty tricky)
</div>

<hr style="border:2px solid">